<%= render "shared/navbar" %>
<div class="container">
    <div class="center">
        <%= link_to 'New Article', new_article_path, class: "button is-primary" %>
    </div>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            <% @articles.each do |article| %>
                <tr>
                    <td><%= article.id%></td>
                    <td><span class="overflow"><%= article.name%></span></td>
                    <td><span class="overflow"><%= article.body%></span></td>
                    <td><%= link_to 'Show Article', article_path(article.id), class: "button" %>
                    <td><%= link_to 'Edit Article', edit_article_path(article.id), class: "button" %></td>
                    <td><%= button_to 'Delete Article', article_path(article.id), method: :delete, class: "button is-dark" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
